<%= turbo_frame_tag "posts-page-#{@page}", target: "_top" do %>
  <div class="flex flex-wrap justify-center">
    <% @posts.each do |post| %>
      <section class="w-full lg:w-10/12 flex-none container shadow-xl rounded my-3 mx-2 p-2 sm:px-6 lg:px-4 bg-gray-200 hover:bg-gray-300 ring-1 ring-indigo-600">
        <%= link_to post.url, rel: "noopener", target: "_blank", class: "flex h-auto" do %>
          <div class="inline-block align-middle my-auto flex-shrink-0 mr-3">
            <%= image_tag "sources/#{post.source.image_filename}", alt: post.source.name, skip_pipeline: true, class: "h-8 w-8 lg:h-12 lg:w-12 rounded-full ring-1 ring-indigo-600" %>
          </div>
          <div>
            <div class="text-lg lg:text-xl font-semibold"><%= post.title %></div>
            <div class="text-sm italic">
              <%= post.source.name %>
              <% if post.author %>/ <%= post.author %><% end %>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>

  <% if pagy_next_url(@pagy) %>
    <%= turbo_frame_tag "posts-page-#{@page + 1}", src: pagy_next_url(@pagy), loading: "lazy", target: "_top" do %>
      <div class="w-full text-center">
          <div data-controller="toggle-class">
            <%= link_to "Fetch More...", pagy_next_url(@pagy),
              class: "w-full px-3 py-2 border border-transparent rounded-md leading-5 bg-indigo-600 bg-opacity-25 text-indigo-100 placeholder-indigo-200 focus:outline-none focus:bg-white focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm text-center",
              data: {
                "action" => "click->toggle-class#toggle",
                "toggle-class-target" => "element",
                "turbo-frame" => "posts-page-#{@page + 1}"
              }
            %>
            <span data-toggle-class-target="element" class="hidden w-full pr-3 py-2 border border-transparent rounded-md leading-5 bg-indigo-600 bg-opacity-25 text-indigo-100 placeholder-indigo-200 focus:outline-none focus:bg-white focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-smutton-primary text-center">Fetching More...</span>
          </div>
      </div>
    <% end %>
  <% end %>
<% end %>
