<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-preview">
    <meta name="theme-color" content="#3C679A" />
    <meta name="description" content="Nintendo and Industry-Wide News Headlines">
    <title>The Comet Observatory | Nintendo and Industry News Headlines</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body style="background-image: url(<%= asset_path("stars.png") %>); background-color: #122153;">
    <%= image_tag "observatory-corner.png", alt: "The Comet Observatory", class: "absolute opacity-40 bottom-20 left-0 w-auto h-80" %>
    <div class="relative min-h-screen flex flex-col">
      <header>
        <!-- Navbar -->
        <nav data-controller="navbar" class="flex-shrink-0 bg-indigo-900">
          <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
              <!-- Logo section -->
              <div class="flex items-center px-2 lg:px-0 xl:w-64">
                <div class="flex-shrink-0">
                  <%= link_to image_tag("luma-icon.png", alt: "Home", class: "h-8 w-auto"), root_path %>
                </div>
                <div class="ml-2 text-indigo-200 hidden sm:block">
                  <%= link_to "The Comet Observatory", root_path, class: "font-bold" %>
                  <div class="text-xs"><%= SUBTITLES.sample %></div>
                </div>
              </div>

              <!-- Search section -->
              <div class="flex-1 flex justify-center lg:justify-end">
                <div class="w-full px-2 lg:px-6">
                  <label for="search" class="sr-only">Search post titles</label>
                  <div class="relative text-indigo-200 focus-within:text-gray-400">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <!-- Heroicon name: solid/search -->
                      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <%= form_with url: root_path, method: :get do %>
                      <%= text_field_tag "search", params[:search], class: "block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-indigo-600 bg-opacity-25 text-indigo-100 placeholder-indigo-200 focus:outline-none focus:bg-white focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm", placeholder: "Search...", type: "search" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="flex lg:hidden">
                <!-- Mobile menu button -->
                <button
                  type="button"
                  class="bg-indigo-900 inline-flex items-center justify-center p-2 rounded-md text-indigo-900 hover:text-white hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white"
                  aria-controls="mobile-menu"
                  aria-expanded="false"
                  data-action="click->navbar#toggleMobileMenuButton"
                >
                  <span class="sr-only">Open main menu</span>
                  <%= image_tag "rosalina-icon.png", alt: "Rosalina", class: "h-8 w-8 rounded-full"%>
                </button>
              </div>
              <!-- Links section -->
              <div class="hidden lg:block lg:w-80">
                <div class="flex items-center justify-end">
                  <div class="flex">
                    <%= link_to "What?", what_path, class: "px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white" %>
                    <%= link_to "Discord", "#", class: "px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white" %>
                    <%= link_to "Privacy", privacy_policy_path, class: "px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:text-white" %>
                  </div>
                  <!-- Profile dropdown -->
                  <div class="ml-4 relative flex-shrink-0">
                    <div>
                      <button
                        type="button"
                        class="bg-indigo-900 flex text-sm rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white"
                        id="user-menu-button"
                        aria-expanded="false"
                        aria-haspopup="true"
                        data-action="click->navbar#toggleUserMenu"
                      >
                        <span class="sr-only">Open user menu</span>
                        <%= image_tag "rosalina-icon.png", alt: "Rosalina", class: "h-8 w-8 rounded-full", data: { "navbar-target" => "mobileMenuButton" } %>
                      </button>
                    </div>
                    <div
                      class="hidden origin-top-right absolute right-0 mt-2 w-96 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                      role="menu"
                      aria-orientation="vertical"
                      aria-labelledby="user-menu"
                      data-navbar-target="userMenu"
                      data-transition-enter="transition ease-out duration-100"
                      data-transition-enter-start="transform opacity-0 scale-95"
                      data-transition-enter-end="transform opacity-100 scale-100"
                      data-transition-leave="transition ease-in duration-75"
                      data-transition-leave-start="transform opacity-100 scale-100"
                      data-transition-leave-end="transform opacity-0 scale-95"
                      tabindex="-1"
                    >
                      <%= form_with url: posts_path, method: :post do %>
                        <div class="flex px-2">
                          <% @grouped_sources.each do |coverage, sources| %>
                            <div class="w-1/2">
                              <div class="font-bold"><%= coverage %> News</div>
                              <div class="text-sm">
                                <% sources.each do |source| %>
                                  <div class="my-1">
                                    <%= label_tag "picker-#{source.name.parameterize}", class: "block text-gray-700" do %>
                                      <%= check_box_tag "source_ids[]", source.id, source_id_selected(source), id: "picker-#{source.name.parameterize}", tabindex: "-1" %>
                                      <%= source.name %>
                                    <% end %>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        <%= submit_tag "Apply", class: "float-right mr-2 my-2 justify-center py-1 px-3 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="hidden" id="mobile-menu" data-navbar-target="mobileMenuButton">
            <div class="px-2 pt-2 pb-3 space-y-1">
              <%= link_to "What?", what_path, class: "text-indigo-200 hover:text-indigo-100 hover:bg-indigo-900 block px-3 py-2 rounded-md text-base font-medium" %>
              <%= link_to "Discord", "#", class: "text-indigo-200 hover:text-indigo-100 hover:bg-indigo-900 block px-3 py-2 rounded-md text-base font-medium" %>
              <%= link_to "Privacy", privacy_policy_path, class: "text-indigo-200 hover:text-indigo-100 hover:bg-indigo-900 block px-3 py-2 rounded-md text-base font-medium" %>
            </div>
            <div class="pt-4 pb-3 border-t border-indigo-800">
              <div class="px-2 space-y-1">
                <%= form_with url: posts_path, method: :post do %>
                  <div class="flex px-2">
                    <% @grouped_sources.each do |coverage, sources| %>
                      <div class="w-1/2">
                        <div class="font-bold text-indigo-200"><%= coverage %> News</div>
                        <div class="text-sm">
                          <% sources.each do |source| %>
                            <div class="my-1">
                              <%= label_tag "mobile-picker-#{source.name.parameterize}", class: "block text-indigo-200 hover:text-indigo-100 hover:bg-indigo-600" do %>
                                <%= check_box_tag "source_ids[]", source.id, source_id_selected(source), id: "mobile-picker-#{source.name.parameterize}", tabindex: "-1" %>
                                <%= source.name %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <%= submit_tag "Apply", class: "float-right mr-2 my-2 justify-center py-1 px-3 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main><%= yield %></main>
    </div>
  </body>
</html>
